@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #d01c28;
    --text-color: #2e2e2e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    height: 72px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color);
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease;
    align-items: center;
    height: 100%;
    justify-content: center;
}

nav ul li:hover {
    color: var(--primary-color);
    transition: color 0.3s ease;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 2px;
    transform: translateY(-3px);
}

button {
    all: unset;
    cursor: pointer;
    padding: 6px 16px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    border-radius: 4px;
    height: 32px;
    &:active {
        transform: scale(0.95);
    }
    transition: transform 0.3s ease;
}

.hero {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    height: calc(100vh-72px);
    padding: 0 24px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.hero h1 {
    font-weight: 800;
    font-size: 100px;
    color: var(--text-color);
    line-height: 102px;
}

.hero p {
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color);
}

.hero-btn {
    display: flex;
    gap: 40px;
}

.btn-secondary {
    background: transparent;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: var(--primary-color);
    color: white;
    transition: background-color 0.3s ease;
}

.primary-btn {
    background-color: var(--primary-color);
    color: white;
    transition: background-color 0.3s ease;
}

.hero-social p {
    font-size: 12px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    gap: 16px;
}
.social-icons img {
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.1);
    }
    &:active {
        transform: scale(0.95);
    }
}
